/* Importações de fontes */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilidades personalizadas */
.font-playfair { 
  font-family: 'Playfair Display', serif; 
}

.shadow-b-md { 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.18); 
}
.avif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/6674f0cdb5b7b401612cf065_noise-50.avif');
  background-repeat: repeat;
  background-size: 200px 200px;
  pointer-events: none;
  z-index: 10;
  opacity: 0.03;
  mix-blend-mode: overlay;
}

